@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
* {
    font-family: "Montserrat" !important;
}

.welcome {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 60px !important;
}

.welcome-text {
    padding-top: 30px !important;
    color: #3B4053 !important;
}

.welcome-text h1 {
    color: #3B4053 !important;
    font-weight: 700;
    width: 50%;
}

.welcome-text p {
    padding: 25px 0px !important;
    font-weight: 200;
    width: 95%;
}

.content-header h1{
    font-weight: 100!important;
}

span {
    font-weight: 700!important;
}

.three-card {
    display: flex!important;
    justify-content: center!important;
    padding: 50px 0px !important;
}

.three-card .card-body h5 {
    padding: 10px 0px !important;
    font-weight: 600;
}

.three-card .card-body p{
    font-weight: 200;
    padding: 20px 10px !important;
}

.doctors-content h1 {
    padding: 20px 50px !important;
}

.card-doctors {
    gap: 100px !important;
    display: flex !important;
    padding-left: 55px !important;
}

.card-doctors1{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    padding: 30px 10px!important;
}

.card-doctors2{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    padding: 30px 10px !important;
}

.card-doctors3{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    padding: 30px 10px !important;
}

footer{
    display: flex;
    justify-content: space-around;
    margin-top: 100px !important;
}

.footer-header h1 {
    font-weight: 100!important;
    color: #0d6efd !important;
}

.content-contact{
    background-color: #0d6efd;
    width: 100%;
    height: 50px;
    display: flex;
    gap: 20px !important;
    justify-content: center;
    align-items: center;
    border-radius: 5px!important;
    padding: 10px;
}

.content-contact p{
    padding: 10px 10px 0px 0px!important;
    color: white;
}